.portfolio-bg {
  /* No background by default */
}

@media (min-width: 1024px) {
  .portfolio-bg {
    background-image: url('https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-3840x2160-1455.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
} 